.calc_btn_class {
  width: 100%;
}
.result_box_class {
  width: 100%;
  background-color: white;
  font-size: 15px;
  font-weight: bolder;
  color: black;
  /* border: 5px solid #000 !important;
  border-radius: 5px; */
}
